language: node_js
node_js:
  - "4.2"
  - "5.4"

env:
  global:
    - SAUCE_USERNAME="loggerr"
    - secure: "C/B0SUD1geZZaEKShwS8M0I7b4wBRaht4dnbeDQYmEvMDmPEwrY9MJyHd5xDqs3IdCZ5TGK2y5btaG5GCuPSZa88A10DfK1ij0qwy6E3QyU0LYboOMJKBDiqbRL6d1XF5CgN2PeSsZBecAhMN0enR52F4oiReF62dsmzOXxcOI3/TOEv2i3MCmDi7cz8alBz4tHOavIxW7+Qg04Az1cH6fWH4zKNZDPUYIXDbahjSgd832CZjRyRaJbjnmX1NOBwFkAIHj/20Zqd+BNBUQSvdGRJxSBra0DLw96oOTmaTTlHaxSLRMatXisJFSW/hKW805kEF/R0zvBCVxVAVixA0T3rlswa3Ye2cJnEFiKdVp43ZlHVz7kb5A6kuDuTkY54LgszeOq4P0jkA5Z1AGaGUgxH3HYp3cBGkSfksk7ryYlJwUOiks8KIjrx7wCX1wL90bIleoUTghzjTDxrHZx7kOTKQvd7DVju1afNvUOQYJsfKAB1mpd/GzGjFgxfdV867zrcmltAKeQMz4vZiV8t35MMEjzpxp7AGUSGbZK2VE80v6cf1X4dWVl0iuSHoSnH1fnGqzraue+6ECiUaJzTzBL9QINLaPqSPOq1gyBVf7+uwXr6IIaYMKuBkYeRbBgG64Jj8EvtRQlK9COJ3VavLgx72EBhYDbK4Z9p6Nck0RQ="

script:
  - 'npm test'
  - 'if [ "x$TRAVIS_NODE_VERSION" = "x5.4" ]; then npm run test-browser; fi'
